/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.header {
    min-height: 10vh;
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    background-color: rgb(80, 79, 79);
    padding: 10px;
}
.home,
.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar {
    gap: 25px;
}
.btn {
    padding: 8px;
    border-radius: 10px;
    text-decoration: none;
    color: black;
}
.btn-danger {
    color: white;
    background-color: #f44336;
}
.btn-danger:hover {
    background-color: #f7645a;
}
.btn-danger:active {
    background-color: #f44336;
    opacity: 0.8;
}
.btn-outline-danger {
    border: 2px solid #f44336;
    color: #f44336;
}
.btn-outline-danger:hover {
    border: 2px solid #f44336;
    color: white;
    background-color: #f44336;
}
.btn-outline-danger:active {
    opacity: 0.8;
}
.active {
    background-color: #f44336;
    color: white;
}
.main {
    min-height: 90vh;
    background-color: aqua;
}
h1 {
    text-align: center;
    margin: 0;
}
